@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

/*HEADER*/

.header-index {
  background-color: #FFE17F;
}

.header-index a {
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.search-input,
.search-btn {
  font-family: "rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: inherit;
}

.catalog-btn-img {
  width: 50px;
  height: 50px;
  background-image: url(../images/icons/catalog-plus.svg);
}

.catalog-link,
.navigation-link {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
}

/*MAIN*/
/*PROMO-SLIDER*/
.promo-slider-number {
  font-size: 180px;
  color: #FFFFFF;
  font-weight: 700;
}

.promo-slider-bold {
  font-family: "raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.promo-slider-link {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.promo-slider-th {
  font-size: 36px;
  color: #000000;
}

.promo-slider-td {
  font-size: 16px;
}

.promo-slider-btn {
  width: 20px;
  height: 60px;
  color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: inherit;
}

.promo-slider-prev {
  background-image: url(../images/icons/arrow-prev.svg);
}

.promo-slider-next {
  background-image: url(../images/icons/arrow-next.svg);
}

.slider-pagination-btn {
  background-image: url(../images/icons/indicator.svg);
  width: 12px;
  height: 12px;
  color: #000000;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.slider-pagination-btn-active {
  background-image: url(../images/icons/indicator-active.svg);
}

/*DEVICES*/

.devices-link {
  font-family: "raleway", sans-serif;
  color: #000000;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-decoration: none;
  text-transform: uppercase;
}

.devices-images {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center;
}

.devices-image-vr {
  background-image: url(../images/icons/index-catalog-image-1.svg);
}

.devices-image-selfie {
  background-image: url(../images/icons/index-catalog-image-2.svg);
}

.devices-image-camera {
  background-image: url(../images/icons/index-catalog-image-3.svg);
}

.devices-image-bracelet {
  background-image: url(../images/icons/index-catalog-image-4.svg);
}

.devices-image-watch {
  background-image: url(../images/icons/index-catalog-image-5.svg);
}

.devices-image-quadcopter {
  background-image: url(../images/icons/index-catalog-image-6.svg);
}

/*SERVICES*/

.slider-services-wrapper {
  background-color: #F0F0F0;
}

.slider-services-item h3 {
  font-family: "raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.services-item-btn-active {
  background-color: #000000;
}

.slider-services-img-delivery {
  width: 136px;
  height: 164px;
  background-image: url(../images/icons/delivery.svg);
}

.slider-services-img-guarantee {
  width: 171px;
  height: 195px;
  background-image: url(../images/icons/guarantee.svg);
}

.slider-services-img-credit {
  width: 156px;
  height: 188px;
  background-image: url(../images/icons/credit.svg);
}

/*BUTTONS*/

.slider-services-btn,
.subscribe-button,
.catalog-filter-button,
.load-more-btn {
  font-family: "raleway", sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  background-color: inherit;
}

.slider-services-btn-active {
  color: #FFE17F;
}

/*DELIVERY-SPEC*/

.delivery-special-wrapper {
  width: 1160px;
  background-color: #F0F0F0;
}

.delivery-special-link {
  font-family: "raleway", sans-serif;
  color: #000000;
  text-align: center;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.delivery-special-car {
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  background-image: url(../images/icons/delivery-special.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-special-em {
  width: 125px;
  height: 100px;
  background-image: url(../images/icons/delivery-special-em.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/*ABOUT*/

.about h2,
.contacts h2,
.subscribe h2,
.selfie-monopods {
  font-family: "raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-delivery-item {
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.about-details-link,
.contacts-mail {
  font-family: "raleway", sans-serif;
  color: #000000;
  text-align: center;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-decoration: none;
  text-transform: uppercase;
}

/*CONTACTS*/

.contacts h3 {
  font-size: 24px;
  font-weight: 700;
}

.contacts-phone {
  color:#444444;
  text-decoration-line: underline;
}

/*SUBSCRIBE*/

.subscribe {
  background-color: #F0F0F0;
}

.subscribe-input {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscribe-img {
  width: 16px;
  height: 16px;
  background-image: url(../images/icons/subscribe.svg);
}

/*FOOTER*/

.footer-index {
  background-color: #444444;
}

.address {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-index .navigation-link {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.logo-html-ac-img {
  width: 115px;
  height: 33px;
  background-image: url(../images/icons/html-academy-logo.svg);
}

.logo-img {
  width: 40px;
  height: 40px;
  fill: rgba(255, 255, 255, 0.30);
}

.logo-tg-img {
  background-image: url(../images/icons/telegram-icon.svg);
}

.logo-ytb-img {
  background-image: url(../images/icons/youtube-icon.svg);
}

.logo-tw-img {
  background-image: url(../images/icons/twitter-icon.svg);
}

/*CATALOG*/

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-arrow {
  width: 4px;
  height: 7px;
  background-image: url(../images/icons/arrow-breadcrumbs.svg);
}

/*CATALOG-PRODUCTS-HEADER*/

.catalog-products-header {
  background-color: #F0F0F0;
}

.sorting-select {
  color: #000000;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  background-color: inherit;
}

.sorting-up-img {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/sort-up.svg);
}

.sorting-down-img {
  transform: rotate(180deg);
}

.catalog-products-header h3,
.catalog-filter h3 {
  font-family: "raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

/*FILTERS*/

.catalog-filter {
  background-color: #EBEBEB;
}

.cost-range {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.cost-range-label,
.catalog-filter-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

/*PRODUCTS*/

.products-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.products-cost {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.load-more-btn-wrapper {
  background-color: #E5E5E5;
}

/*PAGINATION*/

.pagination {
  background-color: #EBEBEB;
}

.pagination-link {
  font-family: "rubik", sans-serif;
  color: #444444;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-prev,
.pagination-next {
  font-family: "raleway", sans-serif;
  color: #444444;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-next {
  color: #000000;
}
